
body{
    background-color: rgb(219, 224, 233);
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    gap: 1em;
}
.container > *{
    width: 100%;
}
.top{
   /* border: 1px solid rgb(36, 37, 35);
   /* background-color: rgb(44, 66, 45); */
   /* color: aliceblue; */
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#Quizz-description{
  /*  display:inline-block;
    width: 100%;
    vertical-align: middle;
 /*   flex-grow: 1; 
    margin-left: 10%; */
    text-align: center;
    margin-top: 3%;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}
.timercontainer{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
#timer {
    font-size: 25px;
    text-align: center;
    background-color: rgb(255, 59, 59);
    width: 8%;    
 }

.question{
    border: 1px solid black;
    background-color: white;
    width: 80%;
    display: flex;
    align-items: stretch;
    border-radius: 10px; /* Adjust this value to control the roundness */
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);


}

.sequence{
    min-width: 2%;
    text-align: center;
    background-color: rgb(103, 143, 102);
    color: aliceblue;
    height: 100%;
    flex: 1;
  }
  .question-right{
    flex-direction: column;
    width: 97%;
    padding: 5px 0 5px 30px;
  }
  .question-text{
    font-family: 'Droid serif', serif; font-size: 20px; font-weight: 400; font-style: italic;
  }
  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 10%;
    transform: translateY(2px); /* Push the button down on hover */
    box-shadow: 0 6px #2E723A; /* Darker shadow on top when hovering */
    border-radius: 10px; /* Adjust this value to control the roundness */

}
.btn:hover{
    transform: translateY(0px); /* Push the button down on hover */
    box-shadow: 0 0px #2E723A; /* Darker shadow on top when hovering */
    background-color: #1a3a1b; /* Green */

}
 